a {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  a:hover, a:focus {
    text-decoration: none;
    color: #333; }

.navbar {
  margin-bottom: 0; }

.navbar-form {
  padding: 0; }

header {
  position: relative; }
  header .top {
    background: #eee; }
    header .top .container {
      position: relative; }
      header .top .container:before {
        position: absolute;
        background-color: #fff;
        bottom: -1px;
        height: 1.65rem;
        width: 265px; }
      header .top .container:after {
        position: absolute;
        background-color: #fff;
        width: 2.375rem;
        height: 2.375rem;
        -webkit-transform: rotate(38deg);
        -ms-transform: rotate(38deg);
        transform: rotate(45deg);
        bottom: -12.5px;
        left: 26.9rem;
        z-index: 5; }
      header .top .container .navbar {
        border: none;
        min-height: 40px; }
        header .top .container .navbar .navbar-nav > li > a {
          padding: 10px 15px;
          font-weight: 600;
          color: #333; }
  header .navigation .navbar {
    min-height: 110px;
    background: #fff;
    border: none;
    -moz-box-shadow: 0px 5px 15px -10px #999999;
    -webkit-box-shadow: 0px 5px 15px -10px #999999;
    box-shadow: 0px 5px 15px -10px #999999; }
    header .navigation .navbar .container {
      height: auto; }
      header .navigation .navbar .container .navbar-header {
        height: auto;
        position: relative; }
        header .navigation .navbar .container .navbar-header:before {
          position: absolute;
          background-color: #fff;
          width: 2.375rem;
          height: 2.375rem;
          -webkit-transform: rotate(52deg);
          -ms-transform: rotate(52deg);
          transform: rotate(45deg);
          top: -1rem;
          left: -1.25rem; }
        header .navigation .navbar .container .navbar-header .navbar-brand {
          padding: 0 15px;
          z-index: 4; }
      header .navigation .navbar .container .navbar-collapse {
        padding: 0 15px;
        min-height: 110px; }
        header .navigation .navbar .container .navbar-collapse .navbar-nav {
          min-height: 110px; }
          header .navigation .navbar .container .navbar-collapse .navbar-nav > li {
            min-height: 110px; }
            header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu {
              border: none;
              background: #32dd42;
              color: #fff;
              padding: 0;
              -moz-transition: all 0.2s ease-out;
              -o-transition: all 0.2s ease-out;
              -webkit-transition: all 0.2s ease-out;
              transition: all 0.2s ease-out;
              top: 100%; }
              header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li {
                border-bottom: 1px solid #21ca31; }
                header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li:last-child {
                  border-bottom: none; }
                  header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li:last-child > a {
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px; }
                header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li > a {
                  color: #fff;
                  font-size: 16px;
                  padding: 10px 20px; }
                  header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li > a:hover {
                    background-color: #21ca31; }
            header .navigation .navbar .container .navbar-collapse .navbar-nav > li.open > a {
              color: #333; }
            header .navigation .navbar .container .navbar-collapse .navbar-nav > li > a {
              padding: 45px 15px;
              font-size: 16px;
              font-weight: 600;
              color: #999; }
              header .navigation .navbar .container .navbar-collapse .navbar-nav > li > a:hover {
                color: #333; }
        header .navigation .navbar .container .navbar-collapse .navbar-form {
          margin: 38px -15px 38px 15px; }

footer {
  height: 50px;
  width: 100%;
  background: #f8f8f8;
  padding: 15px;
  text-align: right;
  border: 1px solid #e7e7e7;
  border-radius: 3px; }

#home-carousel {
  z-index: 3; }
  #home-carousel .carousel-inner {
    height: auto;
    z-index: 4; }
    #home-carousel .carousel-inner .item {
      z-index: 4; }
    #home-carousel .carousel-inner .carousel-caption {
      top: 50%;
      bottom: 0;
      left: 0;
      height: auto;
      width: 100%;
      text-align: left;
      position: absolute;
      transform: translateY(-50%); }
      #home-carousel .carousel-inner .carousel-caption .container h1 {
        font-size: 54px;
        font-weight: 800;
        margin-top: 0;
        width: 100%; }
      #home-carousel .carousel-inner .carousel-caption .container h3 {
        margin-top: 0;
        color: #32dd42;
        text-transform: uppercase; }
      #home-carousel .carousel-inner .carousel-caption .container p {
        font-size: 16px;
        line-height: 25px;
        margin-top: 20px;
        width: 75%; }

.btn-group {
  margin-top: 20px; }
  .btn-group .btn + .btn {
    margin-left: 3px; }
  .btn-group .btn-link {
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: transparent;
    border: 2px solid #32dd42;
    color: #32dd42; }
    .btn-group .btn-link:hover {
      background: rgba(50, 221, 66, 0.5);
      color: #fff;
      text-decoration: none; }
  .btn-group .btn-more {
    color: #fff;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: transparent;
    border: 2px solid #fff; }
    .btn-group .btn-more:hover {
      background: rgba(255, 255, 255, 0.6);
      color: #fff;
      text-decoration: none; }

#contact-info {
  position: relative;
  height: 75px;
  max-width: 100%;
  margin-top: -76px;
  border-top: 1px solid #555;
  z-index: 10; }
  #contact-info .col-lg-2 {
    height: 75px;
    z-index: 7;
    border-right: 1px solid #555;
    padding: 0; }
    #contact-info .col-lg-2 .carousel-control {
      background: transparent;
      width: 100%;
      opacity: 1; }
      #contact-info .col-lg-2 .carousel-control .glyphicon-chevron-left, #contact-info .col-lg-2 .carousel-control .glyphicon-chevron-right {
        text-shadow: none;
        margin-top: -15px;
        color: #32dd42;
        -moz-transition: 0.2s all ease;
        -o-transition: 0.2s all ease;
        -webkit-transition: 0.2s all ease;
        transition: 0.2s all ease; }
      #contact-info .col-lg-2 .carousel-control:hover {
        background: rgba(50, 221, 66, 0.5); }
        #contact-info .col-lg-2 .carousel-control:hover .glyphicon-chevron-left, #contact-info .col-lg-2 .carousel-control:hover .glyphicon-chevron-right {
          color: #fff; }
    #contact-info .col-lg-2 a {
      display: block;
      width: 100%;
      color: #fff;
      padding: 0 10px; }
      #contact-info .col-lg-2 a .dl-horizontal {
        margin-bottom: 0;
        padding: 16px 0 17px; }
        #contact-info .col-lg-2 a .dl-horizontal dt {
          width: 50px;
          text-align: center; }
        #contact-info .col-lg-2 a .dl-horizontal dd {
          margin-left: 55px; }
          #contact-info .col-lg-2 a .dl-horizontal dd h4 {
            margin: 0; }
            #contact-info .col-lg-2 a .dl-horizontal dd h4 small {
              -moz-transition: 0.2s all ease;
              -o-transition: 0.2s all ease;
              -webkit-transition: 0.2s all ease;
              transition: 0.2s all ease; }
      #contact-info .col-lg-2 a .fa {
        color: #32dd42;
        -moz-transition: 0.2s all ease;
        -o-transition: 0.2s all ease;
        -webkit-transition: 0.2s all ease;
        transition: 0.2s all ease; }
      #contact-info .col-lg-2 a:hover {
        background: rgba(50, 221, 66, 0.5); }
        #contact-info .col-lg-2 a:hover .dl-horizontal dd h4 small {
          color: #fff; }
        #contact-info .col-lg-2 a:hover .fa {
          color: #fff; }
    #contact-info .col-lg-2 #social {
      padding: 16px 15px 17px;
      margin-bottom: 0; }
      #contact-info .col-lg-2 #social li {
        display: inline;
        list-style: none;
        padding-right: 15px; }
        #contact-info .col-lg-2 #social li:last-child {
          padding-right: 0; }
        #contact-info .col-lg-2 #social li a {
          width: auto;
          display: inline;
          padding: 0; }
          #contact-info .col-lg-2 #social li a .fa {
            color: #32dd42; }
          #contact-info .col-lg-2 #social li a:hover {
            background: none; }
            #contact-info .col-lg-2 #social li a:hover .fa {
              color: #fff; }

#featured {
  position: relative;
  padding: 60px 15px 45px; }
  #featured .thumbnail {
    padding: 0;
    position: relative; }
    #featured .thumbnail .date-published {
      position: absolute;
      left: 30px;
      background: #32dd42;
      color: #fff;
      padding: 4px;
      top: 43%; }
    #featured .thumbnail .caption {
      border-top: 3px solid #32dd42;
      padding: 4px 30px; }
      #featured .thumbnail .caption h3 {
        font-weight: 600; }
  #featured .btn-group-vertical {
    width: 100%; }
    #featured .btn-group-vertical .btn {
      width: 100%;
      text-align: left;
      white-space: normal;
      border-left: 3px solid #32dd42;
      padding: 5px 16px 4px;
      -moz-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      transition: 0.2s all ease; }
      #featured .btn-group-vertical .btn h3, #featured .btn-group-vertical .btn h4, #featured .btn-group-vertical .btn h5, #featured .btn-group-vertical .btn p {
        -moz-transition: 0.2s all ease;
        -o-transition: 0.2s all ease;
        -webkit-transition: 0.2s all ease;
        transition: 0.2s all ease; }
      #featured .btn-group-vertical .btn p {
        font-size: 12px;
        color: #aaa; }
      #featured .btn-group-vertical .btn h3 {
        font-size: 20px;
        margin: 10px 0; }
      #featured .btn-group-vertical .btn h4 {
        font-weight: 600; }
      #featured .btn-group-vertical .btn h5 {
        margin: 10px 0; }
      #featured .btn-group-vertical .btn:hover {
        border-left: 3px solid #1cab2a;
        background: #32dd42; }
        #featured .btn-group-vertical .btn:hover h3, #featured .btn-group-vertical .btn:hover h4, #featured .btn-group-vertical .btn:hover h5, #featured .btn-group-vertical .btn:hover p {
          color: #fff; }
        #featured .btn-group-vertical .btn:hover#more-stuff:after {
          color: #1cab2a; }
      #featured .btn-group-vertical .btn#more-stuff {
        padding: 6px 16px 7px; }
        #featured .btn-group-vertical .btn#more-stuff:after {
          font-family: "FontAwesome";
          content: "\f054";
          float: right;
          color: #aaa;
          position: absolute;
          right: 16px;
          top: 30%;
          -moz-transition: 0.2s all ease;
          -o-transition: 0.2s all ease;
          -webkit-transition: 0.2s all ease;
          transition: 0.2s all ease; }

#who-we-are {
  background: #51e25e;
  color: #fff;
  margin-bottom: 0;
  padding: 75px 0; }
  #who-we-are .col-lg-6:first-child {
    padding-right: 60px; }
    #who-we-are .col-lg-6:first-child h2 {
      color: #222;
      margin-top: 0; }
  #who-we-are .col-lg-6:last-child {
    padding-left: 60px; }
    #who-we-are .col-lg-6:last-child h2 {
      font-weight: 600;
      margin-top: 10px; }
    #who-we-are .col-lg-6:last-child h3 {
      color: #222;
      margin-top: 0; }
    #who-we-are .col-lg-6:last-child p {
      font-size: 14px; }
    #who-we-are .col-lg-6:last-child .col-lg-12:first-child {
      margin-bottom: 30px; }
  #who-we-are h1, #who-we-are h2, #who-we-are h3 {
    text-transform: uppercase; }
  #who-we-are h1 {
    font-size: 46px;
    margin-top: 10px;
    font-weight: 600; }
  #who-we-are h2 {
    font-size: 26px; }
  #who-we-are h3 {
    font-size: 18px; }
  #who-we-are p {
    font-size: 16px;
    color: #343434; }

#product-list {
  margin-top: -30px;
  border-bottom: 1px solid #d5d5d5; }
  #product-list .col-md-3 {
    padding: 0;
    margin-left: -1px; }
    #product-list .col-md-3:first-child {
      margin-left: 1px; }
    #product-list .col-md-3 a {
      display: block;
      position: relative;
      border-left: 1px solid #d5d5d5;
      padding: 30px 15px;
      margin-top: 30px;
      background: #fff;
      overflow: hidden; }
      #product-list .col-md-3 a:last-child {
        border-right: 1px solid #d5d5d5; }
      #product-list .col-md-3 a img, #product-list .col-md-3 a h2, #product-list .col-md-3 a .fa {
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      #product-list .col-md-3 a img {
        position: absolute;
        z-index: 2 !important;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: calc(100% + 30px);
        opacity: 0; }
      #product-list .col-md-3 a .fa, #product-list .col-md-3 a h2 {
        z-index: 6 !important;
        position: relative; }
      #product-list .col-md-3 a h2 {
        color: #222; }
      #product-list .col-md-3 a .fa {
        margin: 0;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        color: #d5d5d5; }
      #product-list .col-md-3 a:hover {
        padding: 60px 15px 30px;
        margin-top: 0; }
        #product-list .col-md-3 a:hover img {
          opacity: .8;
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1); }
        #product-list .col-md-3 a:hover h2 {
          color: #fff; }
        #product-list .col-md-3 a:hover .fa {
          margin: -15px 0 15px;
          color: #32dd42; }

#about-us {
  background: #f2f2f2;
  padding: 20px 0;
  margin-bottom: 0; }
  #about-us .btn-group {
    margin: 15px auto 0;
    float: right; }
    #about-us .btn-group .btn-link {
      background: #32dd42;
      color: #fff; }
      #about-us .btn-group .btn-link:hover {
        background: #1cab2a;
        border-color: #1cab2a; }
    #about-us .btn-group .btn-more {
      border-color: #888;
      color: #666; }
      #about-us .btn-group .btn-more:hover {
        border-color: #646464;
        color: #424242;
        background: transparent; }
  #about-us h4 {
    margin-top: 10px;
    font-size: 21px; }
  #about-us p {
    margin-bottom: 10px;
    font-size: 16px; }

@media (max-width: 1200px) {
  .container {
    width: 100%; }

  header .top .container:before {
    width: 265px; }

  #home-carousel .carousel-inner .carousel-caption {
    padding: 0; }
    #home-carousel .carousel-inner .carousel-caption .container h1 {
      font-size: 42px; }
    #home-carousel .carousel-inner .carousel-caption .container h3 {
      font-size: 20px; }
    #home-carousel .carousel-inner .carousel-caption .container p {
      width: 100%; }

  #who-we-are .col-lg-6:first-child {
    padding-right: 15px;
    margin-bottom: 60px; }
  #who-we-are .col-lg-6:last-child {
    padding-left: 15px; }
    #who-we-are .col-lg-6:last-child .col-lg-12:first-child {
      margin-bottom: 0px;
      padding-right: 30px; }
    #who-we-are .col-lg-6:last-child .col-lg-12:last-child {
      padding-left: 30px; }

  #contact-info {
    margin-top: 0;
    height: 150px;
    background: #eee; }
    #contact-info .col-md-6, #contact-info .col-md-3 {
      border-bottom: 1px solid;
      border-color: #d5d5d5; }
      #contact-info .col-md-6:last-child, #contact-info .col-md-3:last-child {
        border-right: none; }
      #contact-info .col-md-6 a, #contact-info .col-md-3 a {
        color: #222; }
        #contact-info .col-md-6 a:hover, #contact-info .col-md-3 a:hover {
          background: #32dd42;
          color: #fff; }
    #contact-info .col-md-6 {
      border-color: transparent; }
      #contact-info .col-md-6 .carousel-control {
        color: #fff;
        background: #32dd42; }
        #contact-info .col-md-6 .carousel-control .glyphicon-chevron-left, #contact-info .col-md-6 .carousel-control .glyphicon-chevron-right {
          color: #fff; }
        #contact-info .col-md-6 .carousel-control:hover {
          background: #32dd42; }
    #contact-info .col-md-3 #social li a:hover .fa {
      color: #1cab2a; }
    #contact-info .col-lg-push-8 {
      border-right: none; } }
@media (max-width: 992px) {
  header .top .container .navbar .navbar-nav > li {
    float: right;
    display: inline-block; }
  header .navigation .navbar .container .navbar-collapse .navbar-nav > li > a {
    font-size: 14px;
    padding: 45px 8px; }
  header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li > a {
    font-size: 14px;
    padding: 8px 15px; }
  header .navigation .navbar .container .navbar-collapse .navbar-form {
    display: none; }

  #home-carousel .carousel-inner .carousel-caption {
    left: 0;
    right: 0;
    text-align: center;
    top: 50%; }
    #home-carousel .carousel-inner .carousel-caption .container h1 {
      font-size: 36px; }
    #home-carousel .carousel-inner .carousel-caption .container h3 {
      font-size: 16px; }
    #home-carousel .carousel-inner .carousel-caption .container p {
      font-size: 14px;
      margin: 10px auto; }
    #home-carousel .carousel-inner .carousel-caption .container .btn-group {
      margin-top: 10px; }
      #home-carousel .carousel-inner .carousel-caption .container .btn-group .btn {
        font-size: 14px; }

  #who-we-are .col-lg-6:last-child .col-lg-12:first-child {
    padding-right: 15px;
    margin-bottom: 30px; }
  #who-we-are .col-lg-6:last-child .col-lg-12:last-child {
    padding-left: 15px; }

  #product-list {
    border: none; }
    #product-list .container {
      padding: 0; }
    #product-list .col-md-3 {
      margin: 0 !important; }
      #product-list .col-md-3 a {
        border-right: 0 !important;
        border-bottom: 1px solid #d5d5d5;
        margin-top: 0;
        padding: 15px; }
        #product-list .col-md-3 a .fa {
          float: right;
          margin-top: 10px; }
        #product-list .col-md-3 a h2 {
          font-size: 24px;
          float: left;
          margin-top: 15px; }
        #product-list .col-md-3 a img {
          width: 100%;
          height: auto; }
        #product-list .col-md-3 a:hover {
          padding: 15px; }
          #product-list .col-md-3 a:hover .fa {
            margin: 10px 0 0; }

  #contact-info {
    height: 225px; }
    #contact-info .col-sm-6:nth-child(even) {
      border-right: none !important; } }
@media (max-width: 768px) {
  header .navigation .navbar .container .navbar-header:before {
    left: 0.25rem; }
  header .navigation .navbar .container .navbar-collapse {
    position: absolute;
    top: 100%;
    background: #32dd42;
    z-index: 100;
    padding: 0;
    right: 2%;
    border: 1px solid #21ca31; }
    header .navigation .navbar .container .navbar-collapse .navbar-nav {
      margin: 0; }
      header .navigation .navbar .container .navbar-collapse .navbar-nav > li {
        min-height: auto;
        border-bottom: 1px solid #21ca31; }
        header .navigation .navbar .container .navbar-collapse .navbar-nav > li:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-bottom: none; }
        header .navigation .navbar .container .navbar-collapse .navbar-nav > li > a {
          text-align: right;
          padding: 15px 20px 15px 60px;
          color: #fff; }
          header .navigation .navbar .container .navbar-collapse .navbar-nav > li > a:hover {
            background: #21ca31;
            color: #fff; }
        header .navigation .navbar .container .navbar-collapse .navbar-nav > li.open > a {
          background: #21ca31;
          color: #fff; }
        header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu {
          background: #1cab2a;
          overflow: auto; }
          header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li {
            border-color: #1a9c26; }
            header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li > a {
              font-size: 12px;
              text-align: right;
              padding: 8px 15px 8px 0; }
    header .navigation .navbar .container .navbar-collapse.in {
      overflow: hidden; }
  header .navigation .navbar-toggle {
    padding: 20px 15px;
    margin: 25px 15px;
    border-color: #32dd42;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    header .navigation .navbar-toggle .icon-bar {
      background-color: #32dd42;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    header .navigation .navbar-toggle:hover {
      background-color: #21ca31; }
      header .navigation .navbar-toggle:hover .icon-bar {
        background-color: #fff; }

  #home-carousel {
    z-index: 3; }
    #home-carousel .carousel-inner .carousel-caption .container h1 {
      font-size: 5vw; }
    #home-carousel .carousel-inner .carousel-caption .container h3 {
      font-size: 3vw;
      margin-top: -8px; }
    #home-carousel .carousel-inner .carousel-caption .container p {
      display: none; }
    #home-carousel .carousel-inner .carousel-caption .container .btn-group {
      margin-top: 5px; }
      #home-carousel .carousel-inner .carousel-caption .container .btn-group .btn {
        font-size: 3vw; }

  #contact-info {
    height: 350px; }
    #contact-info .col-xs-6 {
      height: 50px; }
      #contact-info .col-xs-6 .glyphicon-chevron-left, #contact-info .col-xs-6 .glyphicon-chevron-right {
        margin-top: -10px !important; }
    #contact-info .col-xs-12 {
      border-right: none; }
      #contact-info .col-xs-12 .dl-horizontal {
        width: 225px;
        margin: 0 auto;
        overflow-x: hidden; }
        #contact-info .col-xs-12 .dl-horizontal dt {
          float: left;
          width: 50px;
          overflow: hidden;
          clear: left; }
      #contact-info .col-xs-12 #social {
        width: 250px;
        margin: auto;
        overflow-x: hidden; }
        #contact-info .col-xs-12 #social li {
          padding-right: 20px; }

  #who-we-are {
    padding: 45px 0; }
    #who-we-are h1 {
      font-size: 38px; }

  #featured .thumbnail {
    max-width: 360px;
    margin: 0 auto 30px; }
  #featured .col-sm-12 {
    text-align: center; }
  #featured .btn-group-vertical {
    width: 360px;
    margin: 0 auto; }
    #featured .btn-group-vertical .btn {
      padding: 10px 16px;
      display: none; }
      #featured .btn-group-vertical .btn h3, #featured .btn-group-vertical .btn h4, #featured .btn-group-vertical .btn p {
        margin: 0; }
      #featured .btn-group-vertical .btn h4 {
        padding: 5px 0; }
      #featured .btn-group-vertical .btn p {
        float: right;
        margin-top: -23px; }
      #featured .btn-group-vertical .btn h5 {
        display: none; }
      #featured .btn-group-vertical .btn#more-stuff {
        display: block !important;
        border-radius: 4px;
        padding: 8px 15px; }
        #featured .btn-group-vertical .btn#more-stuff:after {
          top: 25%; }

  #about-us {
    text-align: center; }
    #about-us .btn-group {
      float: none; } }
@media (max-width: 480px) {
  #home-carousel .carousel-inner .carousel-caption .btn-lg {
    padding: 8px 10px; } }

/*# sourceMappingURL=layout.css.map */
