body {
  font-family: 'Roboto', sans-serif; }

a {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  a:hover, a:focus {
    text-decoration: none;
    color: #333; }

.navbar {
  margin-bottom: 0; }

.navbar-form {
  padding: 0; }

header {
  position: relative; }
  header .top {
    background: #414141; }
    header .top .container {
      position: relative; }
      header .top .container:before {
        position: absolute;
        background-color: #fff;
        bottom: -1px;
        height: 1.65rem;
        width: 265px; }
      header .top .container:after {
        position: absolute;
        background-color: #fff;
        width: 2.375rem;
        height: 2.375rem;
        -webkit-transform: rotate(38deg);
        -ms-transform: rotate(38deg);
        transform: rotate(45deg);
        bottom: -12.5px;
        left: 26.9rem;
        z-index: 5; }
      header .top .container .navbar {
        border: none;
        min-height: 40px; }
        header .top .container .navbar .navbar-nav > li > a {
          padding: 10px 15px;
          font-weight: 600;
          color: #fff; }
          header .top .container .navbar .navbar-nav > li > a:hover {
            background: #32d442; }
  header .navigation .navbar {
    min-height: 110px;
    background: #fff;
    border: none;
    -moz-box-shadow: 0px 5px 15px -10px #999999;
    -webkit-box-shadow: 0px 5px 15px -10px #999999;
    box-shadow: 0px 5px 15px -10px #999999; }
    header .navigation .navbar .container {
      height: auto; }
      header .navigation .navbar .container .navbar-header {
        height: auto;
        position: relative; }
        header .navigation .navbar .container .navbar-header:before {
          position: absolute;
          background-color: #fff;
          width: 2.375rem;
          height: 2.375rem;
          -webkit-transform: rotate(52deg);
          -ms-transform: rotate(52deg);
          transform: rotate(45deg);
          top: -1rem;
          left: -1.25rem; }
        header .navigation .navbar .container .navbar-header .navbar-brand {
          padding: 0 15px;
          z-index: 4; }
      header .navigation .navbar .container .navbar-collapse {
        padding: 0 15px;
        min-height: 110px; }
        header .navigation .navbar .container .navbar-collapse .navbar-nav {
          min-height: 110px; }
          header .navigation .navbar .container .navbar-collapse .navbar-nav > li {
            min-height: 110px; }
            header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu {
              border: none;
              background: #32d442;
              color: #fff;
              padding: 0;
              -moz-transition: all 0.2s ease-out;
              -o-transition: all 0.2s ease-out;
              -webkit-transition: all 0.2s ease-out;
              transition: all 0.2s ease-out; }
              header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li {
                border-bottom: 1px solid #27bb36; }
                header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li:last-child {
                  border-bottom: none; }
                  header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li:last-child > a {
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px; }
                header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li > a {
                  color: #fff;
                  font-size: 16px;
                  padding: 10px 20px; }
                  header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li > a:hover {
                    background-color: #27bb36; }
            header .navigation .navbar .container .navbar-collapse .navbar-nav > li.open > a {
              color: #333; }
            header .navigation .navbar .container .navbar-collapse .navbar-nav > li > a {
              padding: 45px 15px;
              font-size: 16px;
              font-weight: 600;
              color: #999; }
              header .navigation .navbar .container .navbar-collapse .navbar-nav > li > a:hover {
                color: #333; }
        header .navigation .navbar .container .navbar-collapse .navbar-form {
          margin: 38px -15px 38px 15px; }

footer {
  height: 50px;
  width: 100%;
  background: #f8f8f8;
  padding: 15px;
  text-align: right;
  border: 1px solid #e7e7e7;
  border-radius: 3px; }

#page-header {
  margin-bottom: 45px;
  position: relative; }
  #page-header .header {
    height: 186px;
    background: url("/assets/images/pg-header.jpg") 100% center no-repeat; }
    #page-header .header .container {
      height: 100%;
      display: table; }
      #page-header .header .container .info {
        display: table-cell;
        vertical-align: middle; }
        #page-header .header .container .info h1 small {
          font-size: 50%; }
  #page-header .breadcrumb-wrapper {
    background: #fff;
    padding: 8px 0;
    -moz-box-shadow: 0px 4px 15px -10px #414141;
    -webkit-box-shadow: 0px 4px 15px -10px #414141;
    box-shadow: 0px 4px 15px -10px #414141; }
    #page-header .breadcrumb-wrapper .breadcrumb {
      background: none;
      margin-bottom: 0; }
      #page-header .breadcrumb-wrapper .breadcrumb li {
        font-size: 18px; }
        #page-header .breadcrumb-wrapper .breadcrumb li a {
          color: #222;
          font-weight: 600; }
          #page-header .breadcrumb-wrapper .breadcrumb li a:hover {
            color: #27bb36; }
      #page-header .breadcrumb-wrapper .breadcrumb > li + li:before {
        font-family: "FontAwesome";
        content: "\f0da";
        padding: 0 18px; }
      #page-header .breadcrumb-wrapper .breadcrumb .divider {
        display: none; }

#home-carousel {
  z-index: 3; }
  #home-carousel .carousel-inner {
    z-index: 4; }
    #home-carousel .carousel-inner .item {
      z-index: 4; }
    #home-carousel .carousel-inner .carousel-caption {
      top: 50%;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: left;
      position: absolute;
      transform: translateY(-50%);
      height: 100%;
      display: table;
      margin: 0 auto; }
      #home-carousel .carousel-inner .carousel-caption .container {
        display: table-cell;
        vertical-align: middle; }
        #home-carousel .carousel-inner .carousel-caption .container h1 {
          font-size: 54px;
          font-weight: 800;
          margin-top: 0;
          width: 100%; }
        #home-carousel .carousel-inner .carousel-caption .container h3 {
          margin-top: 0;
          color: #32d442;
          text-transform: uppercase; }
        #home-carousel .carousel-inner .carousel-caption .container p {
          font-size: 16px;
          line-height: 25px;
          margin-top: 20px;
          width: 75%; }

.btn-group {
  margin-top: 20px; }
  .btn-group .btn + .btn {
    margin-left: 3px; }
  .btn-group .btn-link {
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: transparent;
    border: 2px solid #32d442;
    color: #32d442; }
    .btn-group .btn-link:hover {
      background: rgba(50, 212, 66, 0.5);
      color: #fff;
      text-decoration: none; }
  .btn-group .btn-more {
    color: #fff;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: transparent;
    border: 2px solid #fff; }
    .btn-group .btn-more:hover {
      background: rgba(255, 255, 255, 0.6);
      color: #fff;
      text-decoration: none; }

#contact-info {
  position: relative;
  height: 75px;
  max-width: 100%;
  margin-top: -76px;
  border-top: 1px solid #555;
  z-index: 10; }
  #contact-info .col-lg-2 {
    height: 75px;
    z-index: 7;
    border-right: 1px solid #555;
    padding: 0; }
    #contact-info .col-lg-2 .carousel-control {
      background: transparent;
      width: 100%;
      opacity: 1; }
      #contact-info .col-lg-2 .carousel-control .glyphicon-chevron-left, #contact-info .col-lg-2 .carousel-control .glyphicon-chevron-right {
        text-shadow: none;
        margin-top: -15px;
        color: #32d442;
        -moz-transition: 0.2s all ease;
        -o-transition: 0.2s all ease;
        -webkit-transition: 0.2s all ease;
        transition: 0.2s all ease; }
      #contact-info .col-lg-2 .carousel-control:hover {
        background: rgba(50, 212, 66, 0.5); }
        #contact-info .col-lg-2 .carousel-control:hover .glyphicon-chevron-left, #contact-info .col-lg-2 .carousel-control:hover .glyphicon-chevron-right {
          color: #fff; }
    #contact-info .col-lg-2 a {
      display: block;
      width: 100%;
      color: #fff;
      padding: 0 10px; }
      #contact-info .col-lg-2 a .dl-horizontal {
        margin-bottom: 0;
        padding: 16px 0 17px; }
        #contact-info .col-lg-2 a .dl-horizontal dt {
          width: 50px;
          text-align: center; }
        #contact-info .col-lg-2 a .dl-horizontal dd {
          margin-left: 55px; }
          #contact-info .col-lg-2 a .dl-horizontal dd h4 {
            margin: 0; }
            #contact-info .col-lg-2 a .dl-horizontal dd h4 small {
              -moz-transition: 0.2s all ease;
              -o-transition: 0.2s all ease;
              -webkit-transition: 0.2s all ease;
              transition: 0.2s all ease; }
      #contact-info .col-lg-2 a .fa {
        color: #32d442;
        -moz-transition: 0.2s all ease;
        -o-transition: 0.2s all ease;
        -webkit-transition: 0.2s all ease;
        transition: 0.2s all ease; }
      #contact-info .col-lg-2 a:hover {
        background: rgba(50, 212, 66, 0.5); }
        #contact-info .col-lg-2 a:hover .dl-horizontal dd h4 small {
          color: #fff; }
        #contact-info .col-lg-2 a:hover .fa {
          color: #fff; }
    #contact-info .col-lg-2 #social {
      padding: 16px 15px 17px;
      margin-bottom: 0; }
      #contact-info .col-lg-2 #social li {
        display: inline;
        list-style: none;
        padding-right: 15px; }
        #contact-info .col-lg-2 #social li:last-child {
          padding-right: 0; }
        #contact-info .col-lg-2 #social li a {
          width: auto;
          display: inline;
          padding: 0; }
          #contact-info .col-lg-2 #social li a .fa {
            color: #32d442; }
          #contact-info .col-lg-2 #social li a:hover {
            background: none; }
            #contact-info .col-lg-2 #social li a:hover .fa {
              color: #fff; }

#page-header + #featured {
  padding-top: 0; }

#featured {
  position: relative;
  padding: 60px 15px 45px; }
  #featured .col-md-6 .thumbnail .caption {
    padding: 20px 30px 5px; }
    #featured .col-md-6 .thumbnail .caption h3 {
      margin-top: 10px; }
  #featured .thumbnail {
    padding: 0;
    position: relative; }
    #featured .thumbnail .top {
      position: relative; }
      #featured .thumbnail .top .date-published {
        position: absolute;
        left: 30px;
        background: #32d442;
        color: #fff;
        padding: 4px;
        bottom: -3px; }
    #featured .thumbnail .caption {
      border-top: 3px solid #32d442;
      padding: 4px 30px; }
      #featured .thumbnail .caption h3 {
        font-weight: 600; }
      #featured .thumbnail .caption .body h1, #featured .thumbnail .caption .body h2, #featured .thumbnail .caption .body h3, #featured .thumbnail .caption .body h4, #featured .thumbnail .caption .body h5, #featured .thumbnail .caption .body h6, #featured .thumbnail .caption .body p {
        display: none; }
      #featured .thumbnail .caption .body p:first-of-type {
        display: block !important; }
      #featured .thumbnail .caption .btn-link {
        background: #32d442;
        border-color: #32d442;
        color: #fff;
        margin-bottom: 10px;
        border-radius: 3px; }
        #featured .thumbnail .caption .btn-link:hover {
          text-decoration: none;
          background: #219e2d;
          border-color: #219e2d; }
    #featured .thumbnail .info {
      padding: 0 30px 15px; }
      #featured .thumbnail .info ul {
        padding-left: 0; }
        #featured .thumbnail .info ul li {
          display: inline-block;
          list-style: none;
          border-right: 1px solid #d5d5d5;
          padding-right: 8px;
          margin-right: 5px; }
          #featured .thumbnail .info ul li:last-child {
            border-right: none; }
          #featured .thumbnail .info ul li a {
            color: #777; }
            #featured .thumbnail .info ul li a:hover {
              color: #222; }
          #featured .thumbnail .info ul li ul li {
            padding-right: 0;
            border-right: none; }
            #featured .thumbnail .info ul li ul li:after {
              content: "/";
              padding-left: 8px;
              font-weight: 800;
              color: #777; }
            #featured .thumbnail .info ul li ul li:last-child:after {
              content: "";
              padding-left: 8px; }

.btn-group-vertical {
  width: 100%; }
  .btn-group-vertical .btn {
    width: 100%;
    text-align: left;
    white-space: normal;
    border-left: 3px solid #32d442;
    padding: 5px 16px 4px;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease; }
    .btn-group-vertical .btn h3, .btn-group-vertical .btn h4, .btn-group-vertical .btn h5, .btn-group-vertical .btn p {
      -moz-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      -webkit-transition: 0.2s all ease;
      transition: 0.2s all ease; }
    .btn-group-vertical .btn h3 {
      font-size: 20px;
      margin: 10px 0; }
    .btn-group-vertical .btn h4 {
      font-weight: 600; }
    .btn-group-vertical .btn h5 {
      margin: 10px 0; }
    .btn-group-vertical .btn .body p {
      font-size: 14px;
      color: #414141; }
    .btn-group-vertical .btn p {
      color: #aaa;
      font-size: 12px; }
    .btn-group-vertical .btn:hover {
      border-left: 3px solid #219e2d;
      background: #32d442; }
      .btn-group-vertical .btn:hover h3, .btn-group-vertical .btn:hover h4, .btn-group-vertical .btn:hover h5, .btn-group-vertical .btn:hover p {
        color: #fff; }
      .btn-group-vertical .btn:hover#more-stuff:after {
        color: #219e2d; }
    .btn-group-vertical .btn#more-stuff {
      padding: 6px 16px 7px; }
      .btn-group-vertical .btn#more-stuff:after {
        font-family: "FontAwesome";
        content: "\f054";
        float: right;
        color: #aaa;
        position: absolute;
        right: 16px;
        top: 35%;
        -moz-transition: 0.2s all ease;
        -o-transition: 0.2s all ease;
        -webkit-transition: 0.2s all ease;
        transition: 0.2s all ease; }
      .btn-group-vertical .btn#more-stuff:hover {
        color: #fff; }

#test-buttons {
  background: #27bb36;
  position: relative;
  min-height: 140px; }
  #test-buttons .col-md-3 {
    text-align: center; }
  #test-buttons .icon-wrapper {
    display: inline-block;
    margin: 15px auto;
    position: relative;
    cursor: pointer;
    text-align: center;
    color: #32d442; }
    #test-buttons .icon-wrapper:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 7px;
      -moz-box-shadow: 0 0 0 4px #fff;
      -webkit-box-shadow: 0 0 0 4px #fff;
      box-shadow: 0 0 0 4px #fff;
      -moz-transition: transform 0.2s, opacity 0.2s;
      -o-transition: transform 0.2s, opacity 0.2s;
      -webkit-transition: transform 0.2s, opacity 0.2s;
      transition: transform 0.2s, opacity 0.2s;
      transform: scale(1.2);
      opacity: 0;
      border-radius: 100px; }
    #test-buttons .icon-wrapper:hover {
      color: #fff; }
      #test-buttons .icon-wrapper:hover .fa-stack .fa-stack-1x {
        color: #32d442; }
      #test-buttons .icon-wrapper:hover:after {
        transform: scale(1);
        opacity: 1; }
    #test-buttons .icon-wrapper .fa-stack {
      text-align: center; }
      #test-buttons .icon-wrapper .fa-stack .fa-stack-1x {
        color: #fff; }

#who-we-are {
  background: #50da5d;
  color: #fff;
  margin-bottom: 0;
  padding: 75px 0; }
  #who-we-are .col-lg-6:first-child {
    padding-right: 60px; }
    #who-we-are .col-lg-6:first-child h2 {
      color: #222;
      margin-top: 0; }
  #who-we-are .col-lg-6:last-child {
    padding-left: 60px; }
    #who-we-are .col-lg-6:last-child h2 {
      font-weight: 600;
      margin-top: 10px; }
    #who-we-are .col-lg-6:last-child h3 {
      color: #222;
      margin-top: 0; }
    #who-we-are .col-lg-6:last-child p {
      font-size: 14px; }
    #who-we-are .col-lg-6:last-child .col-lg-12:first-child {
      margin-bottom: 30px; }
  #who-we-are h1, #who-we-are h2, #who-we-are h3 {
    text-transform: uppercase; }
  #who-we-are .header {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    color: #fff; }
  #who-we-are h1 {
    font-size: 46px;
    margin-top: 10px;
    font-weight: 600; }
  #who-we-are h2 {
    font-size: 26px; }
  #who-we-are h3 {
    font-size: 18px; }
  #who-we-are p {
    font-size: 16px;
    color: #343434;
    font-weight: 400; }

#product-list {
  margin-top: -30px;
  border-bottom: 1px solid #d5d5d5; }
  #product-list .nav-tabs .col-md-3 {
    padding: 0; }
    #product-list .nav-tabs .col-md-3 a {
      display: block;
      position: relative;
      padding: 30px 15px;
      margin-top: 30px;
      background: #fff;
      overflow: hidden;
      border-left: 1px solid #d5d5d5; }
      #product-list .nav-tabs .col-md-3 a img, #product-list .nav-tabs .col-md-3 a h2, #product-list .nav-tabs .col-md-3 a .fa {
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      #product-list .nav-tabs .col-md-3 a img {
        position: absolute;
        z-index: 2 !important;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: calc(100% + 30px);
        opacity: 0; }
      #product-list .nav-tabs .col-md-3 a .fa, #product-list .nav-tabs .col-md-3 a h2 {
        z-index: 6 !important;
        position: relative; }
      #product-list .nav-tabs .col-md-3 a h2 {
        color: #222;
        font-size: 28px; }
      #product-list .nav-tabs .col-md-3 a .fa {
        margin: 0;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        color: #d5d5d5; }
      #product-list .nav-tabs .col-md-3 a:hover {
        border-left: 1px solid #555;
        padding: 60px 15px 30px;
        margin-top: 0; }
        #product-list .nav-tabs .col-md-3 a:hover img {
          opacity: .8;
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1); }
        #product-list .nav-tabs .col-md-3 a:hover h2 {
          color: #fff; }
        #product-list .nav-tabs .col-md-3 a:hover .fa {
          margin: -15px 0 15px;
          color: #32d442; }
        #product-list .nav-tabs .col-md-3 a:hover .fa {
          -moz-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
    #product-list .nav-tabs .col-md-3.active a {
      padding: 60px 15px 30px;
      margin-top: 0;
      border-left: 1px solid #555; }
      #product-list .nav-tabs .col-md-3.active a img {
        opacity: .8;
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
      #product-list .nav-tabs .col-md-3.active a h2 {
        color: #fff; }
      #product-list .nav-tabs .col-md-3.active a .fa {
        margin: -15px 0 15px;
        color: #32d442;
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
    #product-list .nav-tabs .col-md-3:last-child a {
      border-right: 1px solid #d5d5d5; }
  #product-list .tab-content .tab-pane {
    text-align: center; }
    #product-list .tab-content .tab-pane .pane-content {
      padding: 0; }
      #product-list .tab-content .tab-pane .pane-content a {
        display: block;
        padding: 15px;
        border-left: 1px solid #d5d5d5; }
        #product-list .tab-content .tab-pane .pane-content a h4 {
          margin: 0;
          color: #222;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease; }
        #product-list .tab-content .tab-pane .pane-content a:hover {
          background: #32d442; }
          #product-list .tab-content .tab-pane .pane-content a:hover h4 {
            color: #fff; }
      #product-list .tab-content .tab-pane .pane-content:last-child a {
        border-right: 1px solid #d5d5d5; }

#about-us {
  background: #414141;
  padding: 20px 0;
  margin-bottom: 0; }
  #about-us .btn-group {
    margin: 15px auto 0;
    float: right; }
    #about-us .btn-group .btn-link {
      background: #32d442;
      color: #fff; }
      #about-us .btn-group .btn-link:hover {
        background: #219e2d;
        border-color: #219e2d; }
    #about-us .btn-group .btn-more {
      border-color: #fff;
      color: #fff; }
      #about-us .btn-group .btn-more:hover {
        border-color: #dbdbdb;
        color: #dbdbdb;
        background: transparent; }
  #about-us h4 {
    margin-top: 10px;
    font-size: 21px;
    color: #fff; }
  #about-us p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #e6e6e6; }

#news-one {
  padding-bottom: 60px; }
  #news-one img {
    width: 100%;
    -moz-box-shadow: 2px 0px 5px 0px rgba(204, 204, 204, 0.5);
    -webkit-box-shadow: 2px 0px 5px 0px rgba(204, 204, 204, 0.5);
    box-shadow: 2px 0px 5px 0px rgba(204, 204, 204, 0.5); }
  #news-one article {
    border-left: 3px solid #32d442;
    padding: 45px 30px 0;
    -moz-box-shadow: 2px 3px 5px 0px rgba(204, 204, 204, 0.5);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(204, 204, 204, 0.5);
    box-shadow: 2px 3px 5px 0px rgba(204, 204, 204, 0.5); }
    #news-one article .date-published {
      font-size: 18px;
      color: #bbbbbb; }
    #news-one article h2 {
      margin-top: 0;
      margin-bottom: 30px; }
    #news-one article .body {
      margin-bottom: 30px; }
      #news-one article .body p {
        font-size: 17px;
        padding-bottom: 15px;
        margin-bottom: 0; }
    #news-one article .info {
      border-top: 1px solid #d5d5d5;
      padding-bottom: 5px; }
      #news-one article .info ul {
        padding-top: 15px;
        padding-left: 0; }
        #news-one article .info ul li {
          display: inline-block;
          font-size: 18px;
          padding: 0 15px;
          border-right: 1px solid #d5d5d5; }
          #news-one article .info ul li a {
            color: #bbbbbb; }
            #news-one article .info ul li a:hover {
              color: #222; }
          #news-one article .info ul li:first-child {
            padding-left: 0; }
          #news-one article .info ul li:last-child {
            border-right: none; }
          #news-one article .info ul li ul {
            padding-top: 0;
            padding-left: 0; }
            #news-one article .info ul li ul li {
              border-right: none;
              padding: 0 8px 0 0; }
              #news-one article .info ul li ul li:after {
                content: "/";
                padding-left: 15px;
                font-weight: 800;
                color: #bbbbbb; }
              #news-one article .info ul li ul li:last-child:after {
                content: ""; }
  #news-one #side-nav #similar {
    margin-bottom: 30px; }
    #news-one #side-nav #similar h3 {
      margin-top: 0; }
  #news-one #side-nav #categories ul {
    padding-left: 15px; }
    #news-one #side-nav #categories ul li a {
      font-size: 16px; }

#create-news {
  margin-bottom: 45px; }
  #create-news .checkbox {
    font-size: 16px; }
    #create-news .checkbox:first-of-type {
      margin-top: 0; }

#success-news-post {
  margin-bottom: 45px; }

#services .btn-group-vertical {
  border-bottom: none; }
  #services .btn-group-vertical a.active {
    background: #32d442;
    border-color: #32d442;
    border-left-color: #219e2d;
    color: #fff;
    position: relative;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    #services .btn-group-vertical a.active:after {
      width: 35px;
      height: 35px;
      content: "";
      position: absolute;
      background-color: #32d442;
      right: -18px;
      top: 7px;
      border-radius: 3px;
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
  #services .btn-group-vertical a:after {
    width: 35px;
    height: 35px;
    content: "";
    position: absolute;
    background-color: #fff;
    right: 7px;
    top: 7px;
    border-radius: 3px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #services .btn-group-vertical a:hover, #services .btn-group-vertical a:focus {
    border-color: #32d442;
    border-left-color: #219e2d;
    background: #27bb36; }
    #services .btn-group-vertical a:hover:after, #services .btn-group-vertical a:focus:after {
      right: -18px;
      background-color: #27bb36; }
#services .service-wrapper {
  margin-bottom: 60px; }
  #services .service-wrapper .service-content {
    margin-bottom: 45px; }
    #services .service-wrapper .service-content h3 {
      margin-top: 0; }
  #services .service-wrapper p {
    font-size: 16px;
    margin-bottom: 15px; }
  #services .service-wrapper .btn {
    background: #32d442;
    color: #fff;
    border-color: #32d442;
    border-left: 3px solid #32d442; }

#about .row {
  margin-bottom: 20px; }
  #about .row .testimonial {
    margin-bottom: 30px; }
  #about .row .thumbnail {
    padding: 0; }
    #about .row .thumbnail img {
      border-bottom: 3px solid #32d442; }
    #about .row .thumbnail .caption {
      padding: 0 10px 10px; }
  #about .row h4 {
    margin-top: 20px; }
  #about .row h5 {
    font-size: 20px;
    margin-top: 30px; }
  #about .row p {
    font-size: 16px; }

@media (min-width: 1200px) and (max-width: 1430px) {
  #contact-info .col-lg-2 a .dl-horizontal {
    padding: 20px 0; }
    #contact-info .col-lg-2 a .dl-horizontal dt {
      width: 40px; }
      #contact-info .col-lg-2 a .dl-horizontal dt .fa {
        font-size: 2.5em; }
    #contact-info .col-lg-2 a .dl-horizontal dd {
      margin-left: 42px; }
      #contact-info .col-lg-2 a .dl-horizontal dd h4 {
        font-size: 15px; }
  #contact-info .col-lg-2 #social {
    padding: 20px 15px; }
    #contact-info .col-lg-2 #social li {
      padding-right: 10px; }
      #contact-info .col-lg-2 #social li a .fa {
        font-size: 2.5em; } }
@media (max-width: 1200px) {
  .container {
    width: 100%; }

  header .top .container:before {
    width: 265px; }

  #home-carousel .carousel-inner .carousel-caption {
    padding: 0; }
    #home-carousel .carousel-inner .carousel-caption .container h1 {
      font-size: 42px; }
    #home-carousel .carousel-inner .carousel-caption .container h3 {
      font-size: 20px; }
    #home-carousel .carousel-inner .carousel-caption .container p {
      width: 100%; }

  #who-we-are .col-lg-6:first-child {
    padding-right: 15px;
    margin-bottom: 60px; }
  #who-we-are .col-lg-6:last-child {
    padding-left: 15px; }
    #who-we-are .col-lg-6:last-child .col-lg-12:first-child {
      margin-bottom: 0px;
      padding-right: 30px; }
    #who-we-are .col-lg-6:last-child .col-lg-12:last-child {
      padding-left: 30px; }

  #contact-info {
    margin-top: 0;
    height: 150px;
    background: #eee; }
    #contact-info .col-md-6, #contact-info .col-md-3 {
      border-bottom: 1px solid;
      border-color: #d5d5d5; }
      #contact-info .col-md-6:last-child, #contact-info .col-md-3:last-child {
        border-right: none; }
      #contact-info .col-md-6 a, #contact-info .col-md-3 a {
        color: #414141; }
        #contact-info .col-md-6 a:hover, #contact-info .col-md-3 a:hover {
          background: #32d442;
          color: #fff; }
    #contact-info .col-md-6 {
      border-color: transparent; }
      #contact-info .col-md-6 .carousel-control {
        color: #fff;
        background: #32d442; }
        #contact-info .col-md-6 .carousel-control .glyphicon-chevron-left, #contact-info .col-md-6 .carousel-control .glyphicon-chevron-right {
          color: #fff; }
        #contact-info .col-md-6 .carousel-control:hover {
          background: #32d442; }
    #contact-info .col-md-3 #social li a:hover .fa {
      color: #219e2d; }
    #contact-info .col-lg-push-8 {
      border-right: none; } }
@media (min-width: 1200px) {
  #home-carousel .carousel-inner .carousel-caption {
    width: 1170px; } }
@media (max-width: 992px) {
  header .top .container .navbar .navbar-nav > li {
    float: right;
    display: inline-block; }
  header .navigation .navbar .container .navbar-collapse .navbar-nav > li > a {
    font-size: 14px;
    padding: 45px 8px; }
  header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li > a {
    font-size: 14px;
    padding: 8px 15px; }
  header .navigation .navbar .container .navbar-collapse .navbar-form {
    display: none; }

  #home-carousel .carousel-inner .carousel-caption {
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    width: 100%; }
    #home-carousel .carousel-inner .carousel-caption .container h1 {
      font-size: 36px; }
    #home-carousel .carousel-inner .carousel-caption .container h3 {
      font-size: 16px; }
    #home-carousel .carousel-inner .carousel-caption .container p {
      font-size: 14px;
      margin: 10px auto; }
    #home-carousel .carousel-inner .carousel-caption .container .btn-group {
      margin-top: 10px; }
      #home-carousel .carousel-inner .carousel-caption .container .btn-group .btn {
        font-size: 14px; }

  #who-we-are .col-lg-6:last-child .col-lg-12:first-child {
    padding-right: 15px;
    margin-bottom: 30px; }
  #who-we-are .col-lg-6:last-child .col-lg-12:last-child {
    padding-left: 15px; }

  #product-list {
    border: none;
    margin-top: 0; }
    #product-list .container {
      padding: 0; }
    #product-list .nav-tabs .col-md-3 {
      margin: 0 !important;
      border-top: 1px solid #d5d5d5; }
      #product-list .nav-tabs .col-md-3:nth-child(1), #product-list .nav-tabs .col-md-3:nth-child(2) {
        border-top: none; }
      #product-list .nav-tabs .col-md-3 a {
        border-right: 0 !important;
        margin-top: 0;
        padding: 15px; }
        #product-list .nav-tabs .col-md-3 a .fa {
          float: right;
          margin-top: 10px; }
        #product-list .nav-tabs .col-md-3 a h2 {
          font-size: 24px;
          float: left;
          margin-top: 15px; }
        #product-list .nav-tabs .col-md-3 a img {
          width: 100%;
          height: auto; }
        #product-list .nav-tabs .col-md-3 a:hover {
          padding: 15px; }
          #product-list .nav-tabs .col-md-3 a:hover .fa {
            margin: 10px 0 0; }
      #product-list .nav-tabs .col-md-3.active a {
        padding: 15px; }
        #product-list .nav-tabs .col-md-3.active a .fa {
          margin: 10px 0 0; }
    #product-list .tab-content .tab-pane .pane-content a {
      border-bottom: 1px solid #d5d5d5; }
    #product-list .tab-content .tab-pane .pane-content h4 {
      font-size: 14px; }
    #product-list .tab-content .tab-pane .pane-content:last-child a {
      border-right: none; }

  #featured .col-md-6 .thumbnail .caption h3 small {
    display: block;
    margin-top: 5px; }
  #featured .col-md-6 .thumbnail .caption a {
    display: block;
    margin-top: 15px; }
  #featured .col-md-6 .thumbnail .info ul li {
    display: block;
    border-right: none; }
    #featured .col-md-6 .thumbnail .info ul li ul li {
      display: inline-block; }

  #contact-info {
    height: 225px; }
    #contact-info .col-sm-6:nth-child(even) {
      border-right: none !important; }

  #news-one .col-md-9 {
    margin-bottom: 60px; }
  #news-one img {
    width: 100%; }
  #news-one article {
    padding-right: 30px;
    /*border-right: 3px solid $primary-color;*/
    border-bottom: 1px solid #ccc; }

  #services .btn-group-vertical {
    margin-bottom: 45px; }
    #services .btn-group-vertical a.active:after, #services .btn-group-vertical a:hover:after, #services .btn-group-vertical a:focus:after {
      display: none; }
    #services .btn-group-vertical a:after {
      display: none; }
  #services .service-wrapper {
    margin: 0 -15px; }
    #services .service-wrapper .service-content {
      padding: 0; }
      #services .service-wrapper .service-content h3 {
        margin-top: 20px; }
  #services #all-services {
    padding: 0; }
    #services #all-services .service-wrapper {
      margin: 0 0 45px; } }
@media (max-width: 768px) {
  header .navigation .navbar .container .navbar-header:before {
    left: 0.25rem; }
  header .navigation .navbar .container .navbar-collapse {
    position: absolute;
    top: 100%;
    background: #32d442;
    z-index: 100;
    padding: 0;
    right: 2%;
    border: 1px solid #27bb36; }
    header .navigation .navbar .container .navbar-collapse .navbar-nav {
      margin: 0; }
      header .navigation .navbar .container .navbar-collapse .navbar-nav > li {
        min-height: auto;
        border-bottom: 1px solid #27bb36; }
        header .navigation .navbar .container .navbar-collapse .navbar-nav > li:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-bottom: none; }
        header .navigation .navbar .container .navbar-collapse .navbar-nav > li > a {
          text-align: right;
          padding: 15px 20px 15px 60px;
          color: #fff; }
          header .navigation .navbar .container .navbar-collapse .navbar-nav > li > a:hover {
            background: #27bb36;
            color: #fff; }
        header .navigation .navbar .container .navbar-collapse .navbar-nav > li.open > a {
          background: #27bb36;
          color: #fff; }
        header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu {
          background: #219e2d;
          overflow: auto; }
          header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li {
            border-color: #1e8f29; }
            header .navigation .navbar .container .navbar-collapse .navbar-nav > li .dropdown-menu > li > a {
              font-size: 12px;
              text-align: right;
              padding: 8px 15px 8px 0; }
    header .navigation .navbar .container .navbar-collapse.in {
      overflow: hidden; }
  header .navigation .navbar-toggle {
    padding: 20px 15px;
    margin: 25px 15px;
    border-color: #32d442;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    header .navigation .navbar-toggle .icon-bar {
      background-color: #32d442;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    header .navigation .navbar-toggle:hover {
      background-color: #27bb36; }
      header .navigation .navbar-toggle:hover .icon-bar {
        background-color: #fff; }

  #home-carousel {
    z-index: 3; }
    #home-carousel .carousel-inner .carousel-caption .container h1 {
      font-size: 6vw; }
    #home-carousel .carousel-inner .carousel-caption .container h3 {
      font-size: 4vw;
      margin-top: -8px; }
    #home-carousel .carousel-inner .carousel-caption .container p {
      display: none; }
    #home-carousel .carousel-inner .carousel-caption .container .btn-group {
      margin-top: 5px; }
      #home-carousel .carousel-inner .carousel-caption .container .btn-group .btn {
        font-size: 3vw; }

  #contact-info {
    height: 350px; }
    #contact-info .col-xs-6 {
      height: 50px; }
      #contact-info .col-xs-6 .glyphicon-chevron-left, #contact-info .col-xs-6 .glyphicon-chevron-right {
        margin-top: -10px !important; }
    #contact-info .col-xs-12 {
      border-right: none; }
      #contact-info .col-xs-12 .dl-horizontal {
        width: 225px;
        margin: 0 auto;
        overflow-x: hidden; }
        #contact-info .col-xs-12 .dl-horizontal dt {
          float: left;
          width: 50px;
          overflow: hidden;
          clear: left; }
      #contact-info .col-xs-12 #social {
        width: 250px;
        margin: auto;
        overflow-x: hidden; }
        #contact-info .col-xs-12 #social li {
          padding-right: 20px; }

  #who-we-are {
    padding: 45px 0; }
    #who-we-are h1 {
      font-size: 38px; }

  #product-list .nav-tabs .col-md-3 a {
    border: none; }
  #product-list .nav-tabs .col-md-3:last-child a {
    border-bottom: none; }
  #product-list .tab-content {
    min-height: 88px; }
    #product-list .tab-content .tab-pane .pane-content a h4 {
      font-size: 12px; }

  #featured .thumbnail {
    max-width: 360px;
    margin: 0 auto 30px; }
  #featured .col-sm-12 {
    text-align: center; }

  .btn-group-vertical {
    max-width: 360px;
    margin: 0 auto; }
    .btn-group-vertical .btn {
      padding: 10px 16px;
      display: none; }
      .btn-group-vertical .btn h3, .btn-group-vertical .btn h4, .btn-group-vertical .btn p {
        margin: 0; }
      .btn-group-vertical .btn h4 {
        padding: 5px 0; }
      .btn-group-vertical .btn p {
        float: right;
        margin-top: -23px; }
      .btn-group-vertical .btn h5 {
        display: none; }
      .btn-group-vertical .btn#more-stuff {
        display: block !important;
        border-radius: 4px;
        padding: 8px 15px; }
        .btn-group-vertical .btn#more-stuff:after {
          top: 25%; }

  #about-us {
    text-align: center; }
    #about-us .btn-group {
      float: none; }

  #news-one article .info ul li {
    font-size: 14px; }
  #news-one #side-nav h3 {
    display: none; }
  #news-one #side-nav #similar {
    margin-bottom: 0; }
    #news-one #side-nav #similar .btn-group-vertical {
      max-width: 100%; }
  #news-one #side-nav #categories {
    display: none; } }
@media (max-width: 480px) {
  #home-carousel .carousel-inner .carousel-caption .btn-lg {
    padding: 8px 10px; } }
@media (max-width: 396px) {
  header .top .container:before, header .top .container:after {
    display: none; }
  header .navigation .navbar .container .navbar-header:before {
    display: none; }
  header .navigation .navbar .container .navbar-header .navbar-brand {
    padding-right: 0;
    height: 60px;
    margin: 25px 0; }
    header .navigation .navbar .container .navbar-header .navbar-brand > img {
      height: 60px;
      margin-left: 0;
      margin-right: 0; }
  header .navigation .navbar-toggle {
    margin: 32px 15px 32px 0;
    padding: 15px 10px; } }

/*# sourceMappingURL=layout.css.map */
